@model Capstone.Models.SearchModel

@{
    ViewData["Title"] = "Advanced";
}

<h2>Advanced</h2>

<h4>SearchModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Advanced">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumberofBedsMin" class="control-label"></label>
                <input asp-for="NumberofBedsMin" class="form-control" />
                <span asp-validation-for="NumberofBedsMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberofBedsMax" class="control-label"></label>
                <input asp-for="NumberofBedsMax" class="form-control" />
                <span asp-validation-for="NumberofBedsMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberofBathsMin" class="control-label"></label>
                <input asp-for="NumberofBathsMin" class="form-control" />
                <span asp-validation-for="NumberofBathsMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberofBathsMax" class="control-label"></label>
                <input asp-for="NumberofBathsMax" class="form-control" />
                <span asp-validation-for="NumberofBathsMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthlyRentMax" class="control-label"></label>
                <input asp-for="MonthlyRentMax" class="form-control" />
                <span asp-validation-for="MonthlyRentMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthlyRentMin" class="control-label"></label>
                <input asp-for="MonthlyRentMin" class="form-control" />
                <span asp-validation-for="MonthlyRentMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SquareFeetMax" class="control-label"></label>
                <input asp-for="SquareFeetMax" class="form-control" />
                <span asp-validation-for="SquareFeetMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SquareFeetMin" class="control-label"></label>
                <input asp-for="SquareFeetMin" class="form-control" />
                <span asp-validation-for="SquareFeetMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    @foreach (Property property in Model.AvailableProperties)
    {
        <h3>Property Name: @property.PropertyName</h3>

        <p>Property ID: @property.PropertyID</p>
        <p>Owner ID: @property.OwnerID</p>
        <p>Manager ID: @property.ManagerID</p>
        <p>Property Type: @property.PropertyType</p>

        @if (property.NumberOfUnits > 0)
        {
            <p>Number of Units: @property.NumberOfUnits</p>
        }
        else
        {
            <p>No available units at this property.</p>
        }

        <p>Image URL: @property.ImageSource</p>

        @foreach (Unit unit in property.UnitsAtThisProperty)
        {
            <div>
                <h5>Unit ID: @unit.UnitID</h5>
                <p>Property ID: @unit.PropertyID</p>
                <p>Tenant ID: @unit.TenantID</p>
                <p>Monthly Rent: @unit.MonthlyRent</p>
                <p>Square Feet: @unit.SquareFeet</p>
                <p>Number of Beds: @unit.NumberOfBeds</p>
                <p>Number of Baths: @unit.NumberOfBaths</p>
                <p>Description: @unit.Description</p>
                <p>Tagline: @unit.Tagline</p>

                @if (unit.ImageSource != null)
                {
                    <p>Image URL: @unit.ImageSource</p>
                }

                <p>Application Fee: @unit.ApplicationFee</p>
                <p>Security Deposit: @unit.SecurityDeposit</p>
                <p>Pet Deposit: @unit.PetDeposit</p>
                <p>Address Line 1: @unit.AddressLine1</p>

                @if (unit.AddressLine2 != null)
                {
                    <p>Address Line 2: @unit.AddressLine2</p>
                }

                <p>City: @unit.City</p>
                <p>State: @unit.State</p>
                <p>ZipCode: @unit.ZipCode</p>
                <p>Washer/Dryer Hookup: @unit.WasherDryer</p>
                <p>Cats Allowed?: @unit.AllowCats</p>
                <p>Dogs Allowed?: @unit.AllowDogs</p>
                <p>Parking Spots: @unit.ParkingSpots</p>
                <p>Gym?: @unit.Gym</p>
                <p>Pool?: @unit.Pool</p>
            </div>
        }
    }

</div>

<div>
    <a asp-action="Index">Back to all Available Properties</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
