@model IEnumerable<Capstone.Models.Property>

@{
    ViewData["Title"] = "Index";
}

@*<style>
        .mySlides {
            display: none
        }
    </style>*@


<div class="w3-container">
    <h1 class="w3-text-black">Available Properties</h1>

    <h6>Listed below are all available properties. <a asp-controller="Search" asp-action="Advanced">Click here</a> to refine your search.</h6>
</div>
<div>
    @foreach (Property property in Model)
    {
        <div>

            <!-- Push down content on small screens -->
            <div class="w3-hide-large" style="margin-top:80px"></div>

            <div class="w3-container">
                <h3 class="w3-text-green">@property.PropertyName</h3>
                <p><i class="fas fa-home"></i> Property Type: @property.PropertyType</p>
                <p><i class="fas fa-door-open"></i> Available Units: @property.UnitsAtThisProperty.Count()</p>
            </div>
            @foreach (Unit unit in property.UnitsAtThisProperty)
            {
                <div class="w3-container">
                    <div class="w3-display-container">
                        <img src="@unit.ImageSource" style="width:100%;margin-bottom:-6px">
                    </div>
                </div>
                <div class="w3-container">
                    <h4><strong>@unit.AddressLine1</strong></h4>
                    <h6><em>@unit.Tagline</em></h6>
                    <div>
                        <p>@unit.Description</p>
                    </div>
                    <hr>
                    <h4><strong>Details</strong></h4>
                    <div class="w3-row w3-large">
                        <div class="w3-col s6">
                            <p><i class="fas fa-ruler"></i> Square Feet: @unit.SquareFeet.ToString("#,##0")</p>
                            <p><i class="fa fa-fw fa-bed"></i> Bedrooms: @unit.NumberOfBeds</p>
                            <p><i class="fa fa-fw fa-bath"></i> Bathrooms: @unit.NumberOfBaths</p>
                        </div>
                        <div class="w3-col s6">
                            <p><i class="fa fa-fw fa-money"></i> Monthly Rent: @unit.MonthlyRent.ToString("C") </p>
                            <p><i class="fas fa-lock"></i> Security Deposit: @unit.SecurityDeposit.ToString("C")</p>
                            <p><i class="fa fa-fw fa-paw"></i> Pet Deposit: @unit.PetDeposit.ToString("C")</p>
                        </div>
                    </div>
                    <hr>
                    <h4><strong>Features & Amenities</strong></h4>
                    <div class="w3-row w3-large">
                        <div class="w3-col s6">
                            @if (unit.WasherDryer)
                            {
                                <p><i class="fas fa-tshirt"></i> Washer/Dryer: Yes</p>
                            }
                            else
                            {
                                <p><i class="fas fa-tshirt"></i> Washer/Dryer: No</p>
                            }
                            <p><i class="fa fa-fw fa-car"></i> Parking: @unit.ParkingSpots</p>
                        </div>
                        <div class="w3-col s6">
                            @if (unit.Gym)
                            {
                                <p><i class="fas fa-dumbbell"></i> Gym Access: Yes</p>
                            }
                            else
                            {
                                <p><i class="fas fa-dumbbell"></i> Gym Access: No</p>
                            }
                            @if (unit.Pool)
                            {
                                <p><i class="fas fa-swimmer"></i> Pool Access: Yes</p>
                            }
                            else
                            {
                                <p><i class="fas fa-swimmer"></i> Pool Access: No</p>
                            }
                        </div>
                    </div>
                </div>
                <hr>
            }
        </div>
    }
</div>




@*<h3>Property Name: @property.PropertyName</h3>

    <p>Property ID: @property.PropertyID</p>
    <p>Owner ID: @property.OwnerID</p>
    <p>Manager ID: @property.ManagerID</p>
    <p>Property Type: @property.PropertyType</p>

    @if (property.NumberOfUnits > 0)
    {
        <p>Number of Units: @property.NumberOfUnits</p>
    }
    else
    {
        <p>No available units at this property.</p>
    }

    <p>Image URL: @property.ImageSource</p>

    @foreach (Unit unit in property.UnitsAtThisProperty)
    {
        <div>
            <h5>Unit ID: @unit.UnitID</h5>
            <p>Property ID: @unit.PropertyID</p>
            <p>Tenant ID: @unit.TenantID</p>
            <p>Monthly Rent: @unit.MonthlyRent</p>
            <p>Square Feet: @unit.SquareFeet</p>
            <p>Number of Beds: @unit.NumberOfBeds</p>
            <p>Number of Baths: @unit.NumberOfBaths</p>
            <p>Description: @unit.Description</p>
            <p>Tagline: @unit.Tagline</p>

            @if (unit.ImageSource != null)
            {
                <p>Image URL: @unit.ImageSource</p>
            }

            <p>Application Fee: @unit.ApplicationFee</p>
            <p>Security Deposit: @unit.SecurityDeposit</p>
            <p>Pet Deposit: @unit.PetDeposit</p>
            <p>Address Line 1: @unit.AddressLine1</p>

            @if (unit.AddressLine2 != null)
            {
                <p>Address Line 2: @unit.AddressLine2</p>
            }

            <p>City: @unit.City</p>
            <p>State: @unit.State</p>
            <p>ZipCode: @unit.ZipCode</p>
            <p>Washer/Dryer Hookup: @unit.WasherDryer</p>
            <p>Cats Allowed?: @unit.AllowCats</p>
            <p>Dogs Allowed?: @unit.AllowDogs</p>
            <p>Parking Spots: @unit.ParkingSpots</p>
            <p>Gym?: @unit.Gym</p>
            <p>Pool?: @unit.Pool</p>
        </div>*@











